<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke">
  <test thread-count="5" name="List Of test Cases">
    <classes>
      <class name="project.Testng"/>
	  <class name="project.Testng2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
